<div class="main-content">
  <div class="section-content section-content-p30">
    <h4>Category:{{currentCategoryName}}</h4>
    <hr>
    <div class="container-fluid">
      <div class="row">
        <!--loop over collection of products-->
        <div *ngFor="let tempProduct of products" class="col-md-3">
          <!--          <div class="product-box">

                      <a routerLink="/products/{{tempProduct.id}}}">
                        <img src="{{tempProduct.imageUrl}}" class="img-responsive">
                      </a>

                      <a routerLink="/products/{{tempProduct.id}}}">
                        <h1>{{tempProduct.name}}</h1>
                      </a>

                      <div class="price">{{tempProduct.unitPrice |currency:'USD'}}</div>

                      <a href="#" class="primary-btn">Add to cart</a>
                    </div>-->
          <div class="product-box">

            <a routerLink="/products/{{ tempProduct.id }}">
              <img src="{{ tempProduct.imageUrl }}" class="img-responsive">
            </a>

            <a routerLink="/products/{{ tempProduct.id }}">
              <h1>{{ tempProduct.name }}</h1>
            </a>

            <div class="price">{{ tempProduct.unitPrice | currency:'USD' }}</div>
            <button (click)="addToCart(tempProduct)" class="btn btn-primary btn-sm">Add to cart</button>
          </div>
        </div>
        <div *ngIf="products?.length==0" class="alert alert-warning col-md-12" role="alert">
          No products found
        </div>
      </div>

      <div class="footer-pagination" style="display:flex;justify-content: center;">
        <ngb-pagination
          [(page)]="thePagenumber"
          [pageSize]="thePageSize"
          [maxSize]="5"
          [collectionSize]="theTotalElements"
          (pageChange)="listProducts()">
        </ngb-pagination>
      </div>
      <div style="display:flex;justify-content: center;">
        <span class="mr-2">Page size</span>
        <select (change)="updatePageSize($event.target.value)">
          <option>1</option>
          <option selected="selected">8</option>
          <option>10</option>
          <option>20</option>
          <option>50</option>
        </select>
      </div>

    </div>
  </div>
</div>

